.box {
  background: whitesmoke;
  color: black;
  border-radius: 4px;
  border: solid 1px;
  border-color: darkgray;
  padding: 20px;
  margin: 20px auto;
}

.phonetics {
  font-size: smaller;
  color: darkgray;
}

h3 {
  line-height: 1.5;
  margin-bottom: 20px;
}
